@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand/static/Quicksand-Light.ttf");
  src: url("../assets/fonts/Quicksand/static/Quicksand-Light.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand/static/Quicksand-Regular.ttf");
  src: url("../assets/fonts/Quicksand/static/Quicksand-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand/static/Quicksand-Medium.ttf");
  src: url("../assets/fonts/Quicksand/static/Quicksand-Medium.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf");
  src: url("../assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand/static/Quicksand-Bold.ttf");
  src: url("../assets/fonts/Quicksand/static/Quicksand-Bold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 700;
}
